<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>blockchain</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>sitetraffic</param-name>
    <param-value>10000</param-value>
  </context-param>
  <context-param>
    <param-name>dbdriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbloc</param-name>
    <param-value>jdbc:mysql://localhost/blockchain</param-value>
  </context-param>
  <context-param>
    <param-name>dbuname</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpwd</param-name>
    <param-value>uniquecoder</param-value>
  </context-param>
  <servlet>
    <servlet-name>WebLogServ</servlet-name>
    <servlet-class>bizlogic.LoginAuthenticator</servlet-class>
    <init-param>
      <param-name>noofattempts</param-name>
      <param-value>3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebLogServ</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebRegServ</servlet-name>
  	<servlet-class>bizlogic.registerserv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WebRegServ</servlet-name>
  	<url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
</web-app>